In [1]:
import re

In [1]:
#. = any character
#\d = digit
#\w = letter/number/underscore
#* = 0 or more times
#+ = 1 or more times
#^ = start of string
#$ = end of string
#[...] = any one character in the brackets

#3 main functions: search, match and fullmatch.
# match only has value for looking at the begining of the string...
#... but can be substituted by search(r"^...")

In [10]:
#Search a pattern
result = re.search(r"cat", "A black cat")
print(result)              # Match object if found, None otherwise
print(result.group()) 
print(result.span(), result.start(), result.end())
print(result.string)

<re.Match object; span=(8, 11), match='cat'>
cat
(8, 11) 8 11
A black cat

In [11]:
#Find all numbers
re.findall(r"\d", "There are 3 cats and 5 dogs")

['3', '5']

In [12]:
#Substitute text
re.sub(r"\d+", "#", "Room 12 and 34")

'Room # and #'

In [13]:
# Split by pattern
re.split(r"\s+", "split   by   spaces")
# Output: ['split', 'by', 'spaces']

['split', 'by', 'spaces']

In [15]:
re.match(r"^\d{3}$", "123")  # Matches exactly 3 digits