In [5]:
# SHOW (index)+(value) with ENUMERATE
nums=[55,44,33,22,11]
for n in enumerate(nums):
    print(f"n={n} // type(n)={type(n)}")
num_index = dict(enumerate(nums)); print(num_index)

n=(0, 55) // type(n)=<class 'tuple'>
n=(1, 44) // type(n)=<class 'tuple'>
n=(2, 33) // type(n)=<class 'tuple'>
n=(3, 22) // type(n)=<class 'tuple'>
n=(4, 11) // type(n)=<class 'tuple'>
{0: 55, 1: 44, 2: 33, 3: 22, 4: 11}

In [8]:
nums=[55,44,33,22,11]
print(f"len(nums)={len(nums)} // sum(nums)={sum(nums)}")

len(nums)=5 // sum(nums)=165